/* =============== GENERAL STYLES =============== */
html,
body,
#root {
  block-size: 100%;
  margin: 0;
  padding: 0;
}

#root {
  --primary-color: #fff;
  --text-color: #1b263b;
  --button-color: #56647c;
  --error-color: #974742;
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  grid-template-areas: "aside main";
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}

svg {
  width: 2rem;
  height: 2rem;
  fill: var(--text-color);
}

/* =============== SCROLLBAR =============== */
.aside__container::-webkit-scrollbar,
.main__container::-webkit-scrollbar {
  width: 18px;
}

.aside__container::-webkit-scrollbar-track,
.main__container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.aside__container::-webkit-scrollbar-thumb,
.main__container::-webkit-scrollbar-thumb {
  background: #80817d;
  border-radius: 8px;
  border: 6px solid var(--secondary-color);
}

.aside__container::-webkit-scrollbar-thumb:hover,
.main__container::-webkit-scrollbar-thumb:hover {
  background: #636363;
}

@supports not selector(::-webkit-scrollbar) {
  .aside__container,
  .main__container {
    scrollbar-color: transparent var(--secondary-color);
  }
}

/* =============== ASIDE =============== */
.aside__container {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  block-size: calc(100% - 2rem);
  border-radius: 10px 0 0 10px;
  color: var(--text-color);
  overflow: auto;
}

.container__form {
  position: relative;
  background-color: var(--primary-color);
  border-radius: 10px 0 0 10px;
  padding: 1rem;
}

.form__title {
  margin: 0;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.form__button--toggle {
  position: absolute;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

.form__button--save {
  inline-size: 100%;
  font-size: 1.1rem;
  margin-block-start: 1rem;
  padding-block: 0.5rem;
  background-color: var(--button-color);
  color: var(--primary-color);
}

.content__button {
  padding: 0.5rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 7px;
  color: var(--primary-color);
  cursor: pointer;
}

.form__button--save:hover,
.content__button:hover {
  background-color: #73819a;
}

.form__label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 1rem;
}

.label__button {
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: -0.2rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.form__input,
.form__textarea {
  flex-basis: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
}

.form__textarea {
  resize: none;
}

.education__list--title {
  font-size: 1rem;
  margin-block-start: 2rem;
}

.education__list--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0;
}

.education__list--item span {
  max-inline-size: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.education__list--ul {
  padding: 0;
}

.item__remove {
  background-color: var(--error-color);
  border: 1px solid var(--error-color);
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
}

.item__remove:hover {
  background-color: #b8655e;
  border: 1px solid #b8655e;
}

/* =============== MAIN =============== */
.main__container {
  position: relative;
  grid-area: main;
  block-size: calc(100% - 2rem);
  color: var(--text-color);
  overflow: auto;
}

.container__content {
  padding: 2.5rem;
  background-color: var(--primary-color);
}

.content__button {
  position: fixed;
  inset-block-start: 2rem;
  inset-inline-end: 3rem;
}

.content__title {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5rem;
}

.content__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.3rem;
}

.info__location {
  text-transform: capitalize;
}

.info__separator {
  inline-size: 0.3rem;
  block-size: 0.3rem;
  border-radius: 50%;
  background-color: var(--text-color);
}

.content__description,
.experience__item,
.education__item {
  padding: 0 0.5rem;
}

.experience__item,
.education__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__experience,
.content__education {
  margin-block-end: 0.8rem;
}

.experience__title,
.education__title {
  flex-basis: 100%;
  margin: 0;
  border-bottom: 2px solid var(--text-color);
}

.experience__job span:first-child,
.education__info span:first-child {
  text-transform: uppercase;
}

.experience__job,
.education__info {
  text-align: start;
}

.experience__location span,
.experience__job span,
.education__info span,
.education__location span {
  display: block;
}

.experience__location,
.education__location {
  text-align: end;
}

.experience__location span:first-child,
.education__location span:first-child {
  font-weight: bold;
  text-transform: capitalize;
}

.experience__location span:last-child,
.education__location span:last-child,
.experience__job span:last-child,
.education__info span:last-child {
  text-transform: capitalize;
}

.education__info {
  flex-basis: 50%;
}

.experience__list {
  max-inline-size: 66ch;
  margin: 0;
}

.skills__title {
  margin: 0;
  border-bottom: 2px solid var(--text-color);
}
